@font-face{
    font-family: 'Poppings';
    src: url('../font/Poppins-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppings';
}

/* Menu ---------------*/
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    height: 52px;
    margin: 1rem auto;
}

header nav ul {
    display: flex;
    align-items: center;;
}

header nav ul li {
    display: flex;
    margin-left: 32px;
    font-weight: 600;
    line-height: 24px;
}

header nav ul li a{
    text-decoration: none;
    color: #394149;
}

header nav ul li:last-child{
    color: #F58A07;
    background: rgb(245, 138, 7, 0.1);
    padding: 10px 25px;
    border-radius: 31px;
}

/* Section1 ------------*/
.section1{
    max-width: 1280px;
    margin: 5rem auto;
}

.b{
    color: #1D3444;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
}

.inside2{
    display: flex;
    margin: 64px 0;
}

.inner1{
    margin-right: 284px;
}

.b1{
    color: #0D1317;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
}

.sm1{
    color: #5B5B5B;
    font-size: 18px;
    line-height: 30px;
}

.part2-2{
    display: flex;
    background: #C1E4FF4D;
    height: 441px;
    padding: 68px;
    border-radius: 20px;
}

.inside3{
    margin-right: 92px;
}

.b2{
    color: #F58A07;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.04px;
    margin-bottom: 40px;
}

.b3{
    color: #0D1317;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
}

.sm2{
    color: #5B5B5B;
    line-height: 28px;
    margin-bottom: 20px;
}

/* Section 2----------------*/
.section2{
    max-width: 1280px;
    margin: 8rem auto;
}

.b4{
    color: #0D1317;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 51px;
}

.part3-3{
    display: inline-block;
}

.ff{
    background: #D2DAED2B;
    color: #9C9C9C;
    padding: 18px 392px 18px 32px;
    border-radius: 27px;
    font-size: 19px;
    margin-bottom: 28px;
}

#subject{
    background: #D2DAED2B;
    color: #9C9C9C;
    width: 100%;
    height: 215px;
    border-radius: 27px;
    padding: 29px 0 0 32px;
    font-size: 19px;
    font-weight: 500;
}

.btn-s{
    background: #F58A07;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    padding: 18px 32px;
    border-radius: 31px;
    margin-top: 32px;
}

/* Footer----------*/
footer {
    background: #063255;
    position: relative;
}

.whole5{
    max-width: 1280px;
    height: 463px;
    margin: auto;
    color: #FFFFFF;
}

.TOP{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.BOT{
    display: flex;
    justify-content: space-between;
}

.part1 .p1{
    font-size: 36px;
    line-height: 44px;
    width: 351px;
    margin: 32px 0;
}

.part1 .icons1{
    padding: 0 23px 84px 0;
}

.p3{
    font-size: 18px;
    margin-bottom: 26px;
}

.p4{
    padding-bottom: 16px;
}

.box1{
    background: #F58A07;
    width: 53px;
    height: 144px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 20px 0px 0px;
}

.box2{
    background: #F58A07;
    width: 53px;
    height: 287px;
    position: absolute;
    bottom: 138px;
    right: 0;
    z-index: 1;
    border-radius: 20px 0px 0px 20px;
}

#email{
    padding: 18px 188px 18px 32px;
    border-radius: 31px;
}

button{
    padding: 18px 32px;
    border-radius: 31px;
    color: #FFFFFF;
    background: #F58A07;
    margin-top: 20px;
}

span{
    margin-right: 32px;
}